<div class="header">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-umbrella fa-lg"></i> Tempist</a>

    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <p class="navbar-text navbar-right"><a href="#" class="navbar-link"> SmileLines <i class="fa fa-cog"></i></a></p>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>

<div class="row">
  <form action="" method="POST" role="form">
    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Contact Info</h4>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <img src="images/logo.png" alt="Dentist Logo" class="img-responsive" width="175" height="175">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Office Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Doctor Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Website">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Office Phone">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Street Address">
          </div>
          <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="City">
          </div>
          <div class="form-group">
            
                <select class="form-control" id="" placeholder="State">
                  <option value="none" selected="selected">State</option>
                  <option value="AZ">Arizona</option>
                  <option value="NY">New York</option>

                </select>
          </div>
          <div class="form-group">
              
                <input type="text" class="form-control" id="" placeholder="Zip">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Billing Info</h4>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Cardholder Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Credit Card Number">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Expiration Month">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Expiration Year">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="CCV">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Billing address same as office
            </label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Street Address">
          </div>
          <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="City">
          </div>
          <div class="form-group">
            
                <select class="form-control" id="" placeholder="State">
                  <option value="none" selected="selected">State</option>
                  <option value="AZ">Arizona</option>
                  <option value="NY">New York</option>

                </select>
          </div>
          <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="Zip">
          </div>
        </div>
      </div>
    </div>

<div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Pricing Option</h4>
        </div>
        <div class="panel-body">
          <div class="radio">
            <label>
              <input type="radio" name="" id="" value="">
                Unlimited ($100/month)
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="" id="" value="">
                Pay-per-temp ($30/day)
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>

    

  </form>
</div>

<div class="footer">
  <p>♥ GingerBeardBros</p>
</div>
