<div class="header">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-umbrella fa-lg"></i> Tempist</a>

    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Jonny Brennan <i class="fa fa-cog"></i></a></p>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>

<div class="row">
  <form action="" method="POST" role="form">
    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="form-group">
            <img src="images/me.jpg" alt="Dentist Logo" class="img-circle img-responsive" width="250px" height="250px">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Last Name">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="" placeholder="About Me" rows="3" />
          </div>
          
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Availibility</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox">Sunday
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Monday
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Tuesday
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Wednesday
                </label>
              </div>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox">Thursday
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Friday
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Saturday
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <div class="form-group">
              
                
                <div class="row">
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4">
                    <input type="text" class="form-control" id="" placeholder="">
                  </div>
                  <div class="col-xs-4">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                  </div>
                  <div class="col-xs-8">
                    <div class="text-center">miles to include in search</div>
                  </div>
                  <div class="col-xs-2">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5">
                  </div>
                  <div class="col-xs-3">
                    <i class="fa fa-road fa-2x"></i>
                  </div>
                  <div class="col-xs-4">
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Contact Info</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Cell Phone">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Street Address">
          </div>
          <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="City">
          </div>
          <div class="form-group">
            <select class="form-control" id="" placeholder="State">
              <option value="none" selected="selected">State</option>
              <option value="AZ">Arizona</option>
              <option value="NY">New York</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Zip">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Occupation</h4>
            </div>
            <div class="panel-body">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Dentist
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Hygenist
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Dental Assistant
                </label>
              </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">Front Office
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">Back Office
                  </label>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Certifications</h4>
            </div>
            <div class="panel-body">
              <div class="checkbox">
                <label>
                  <input type="checkbox">Radiographs
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Coronal Polish
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Anesthesia
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Laser Debridement
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Current CPR
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Occupation</h4>
            </div>
            <div class="panel-body">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Dentist
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Hygenist
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Dental Assistant
                </label>
              </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">Front Office
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">Back Office
                  </label>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Certifications</h4>
            </div>
            <div class="panel-body">
              <div class="checkbox">
                <label>
                  <input type="checkbox">Radiographs
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Coronal Polish
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Anesthesia
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Laser Debridement
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Current CPR
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>List</h4>
        </div>
        <div class="panel-body">
          Results
        </div>
      </div>
    </div>

  </form>
</div>

<div class="footer">
  <p>♥ GingerBeardBros</p>
</div>
